@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@layer utilities {
  .cursor-black {
    cursor: url('/black-cursor.svg'), auto;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

 
  --font-sans: var(--font-poppins);
  --font-alt: var(--font-geist-sans); 
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif; 
}
/* Slick dots positioning inside slider */
.slick-dots {
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
 display: flex !important;
 gap: 40px;
 justify-content: center;
}

/* Inactive dots */
.slick-dots li button:before {
  content: '';
  width: 17px;
  height: 17.25px;
  background-color: #D9D9D9;
  border-radius: 50%;
  
  transition: all 0.3s ease;
  opacity: 1; 
}

/* Active dot */
.slick-dots li.slick-active button:before {
  background-color: #CC7722 !important;
  transform: scale(1.1);
  opacity: 1;
}



